@model IEnumerable<Pacote>

@{
    ViewData["Title"] = "Home";
}

 <h3><b>Bem-vindo ao site Destino Certo!</b></h3>
 <section>
     <div class="homet">
<figure><img src="~/fundo.jpg"></figure>
<div class ="home"><p>Mais do que uma agência de viagens, a Destino Certo firma a cada dia o seu diferencial ao prestar ótimos serviços de viagens e lazer. O cliente tem acesso às diversas opções em turismo: pacotes personalizado. Seus diferenciais estão na consultoria personalizada antes e durante a viagem e no treinamento e comprometimento da equipe de profissionais que está sempre pronta para atender e orientar seus clientes da escolha do destino ao desembarque na volta e estão sempre atentos à mudanças no segmento que atuam, passando confiança, agilidade e segurança as assistentes e viajantes.</p>
<p><a href="/Home/Vitrine">Acesse nossa Vitrine</a></p>
</div>
</div>
</section>